<%= form_with(model: rbkattum, local: true) do |form| %>
  <% if rbkattum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rbkattum.errors.count, "error") %> prohibited this rbkattum from being saved:</h2>

      <ul>
      <% rbkattum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user %>
    <%= form.text_field :user %>
  </div>

  <div class="field">
    <%= form.label :rbkatta %>
    <%= form.text_field :rbkatta %>
  </div>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_field :comment %>
  </div>

  <div class="field">
    <%= form.label :time %>
    <%= form.datetime_select :time %>
  </div>

  <div class="field">
    <%= form.label :already %>
    <%= form.check_box :already %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
