<p id="notice"><%= notice %></p>

<h1>Rbkatta</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Rbkatta</th>
      <th>Comment</th>
      <th>Time</th>
      <th>Already</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rbkatta.each do |rbkattum| %>
      <tr>
        <td><%= rbkattum.user %></td>
        <td><%= rbkattum.rbkatta %></td>
        <td><%= rbkattum.comment %></td>
        <td><%= rbkattum.time %></td>
        <td><%= rbkattum.already %></td>
        <td><%= link_to 'Show', rbkattum %></td>
        <td><%= link_to 'Edit', edit_rbkattum_path(rbkattum) %></td>
        <td><%= link_to 'Destroy', rbkattum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rbkattum', new_rbkattum_path %>
